### General dev ###
.DS_Store
node_modules
*.log
.env
coverage
.nyc_output


### Vagrant ###
# General
.vagrant/*

### Vagrant Patch ###
*.box

### Editor directories and files ###
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
