### General dev ###
.DS_Store
node_modules
dist
*.log
.env
coverage
.nyc_output


### Vagrant ###
# General
.vagrant/*

### Vagrant Patch ###
*.box

src/corteza-server/
src/corteza-webapp-one/

### Editor directories and files ###
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
