# Make sure to restart corredor (via supervisord) when you change this config
# > supervisorctl restart corteza-server-corredor

# prod[uction] or dev[elopment] environment?
CORREDOR_ENV=dev

# Debug mode?
# It presets LOG_* to a specific behavoir
# When not explicitly set, it true when not in production
#
# When set to true, server outputs configuration
# to logger (on 'debug' level, so that might still be suppressed by LOG_LEVEL)
CORREDOR_DEBUG=true

# Where do we listen for GRPC requests?
# If you want to connect to Corredor's GRPC from the outside, change IP to 0.0.0.0.
CORREDOR_ADDR=127.0.0.1:50051

# Is logging enabled
CORREDOR_LOG_ENABLED=true

# Log in pretty, colorful and multiline environment
#
# Otherwise dull but machine readable JSON.
CORREDOR_LOG_PRETTY=true

# Log level we want to output
#
# When not explicitly set is defaults
# to info (or trace, when in debug mode)
# Levels: fatal, error, warn, info, debug, trace, silent
CORREDOR_LOG_LEVEL=info

# Disable TLS cets
CORREDOR_SERVER_CERTIFICATES_ENABLED = false

# Search paths for automation scripts
CORREDOR_EXT_SEARCH_PATHS=/vagrant/dist/extensions/*:/vagrant/src/automation-scripts
